@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #0b1218;
    color: #d9e4f0;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #050f18;
}
::-webkit-scrollbar-thumb {
  background: #233546;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c4a46;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
}